<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woopitapp"
    android:versionCode="3"
    android:versionName="0.1" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo3"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
		
        <!-- Login con Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- Login con Google+ -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/gmaps_key" />

        <!-- Actividades de Woopit -->

        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activities.MessageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.ChooseUsernameActivity"
            android:label="@string/title_activity_choose_username"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activities.SearchUsers"
            android:label="@string/title_activity_search_users" >
        </activity>
        <activity
            android:name=".activities.FindFriendsActivity"
            android:label="@string/title_activity_find_friends" >
        </activity>
        <activity
            android:name=".activities.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".activities.ModelPreviewActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".activities.ModelListActivity"
            android:label="@string/title_activity_map"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".activities.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".activities.ChooseFriendActivity"
            android:label="@string/title_activity_choose_friend" >
        </activity>
        <activity
            android:name=".activities.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".activities.SearchModelsActivity"
            android:label="@string/title_activity_search_models" >
        </activity>
        <activity
            android:name=".activities.MapUnMessageActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".activities.BuyModelActivity"
            android:label="@string/title_activity_buy_model" >
        </activity>
    </application>

</manifest>
